.container{
    border: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;  
    background-color: lightblue; 
    width: 60%; 
    height: fit-content;
}
p{
    text-align: end;
}
#trial{
    background-color: white;
    border: 5px solid white;
    margin: 0% auto;
    padding: 5px;
    border-radius: 50px;
    width: 60%;
    height: fit-content;
    text-align: center;

}
.input{
    border: none;
}
button{
    background-color: blue;
    color: white;
    width: 40%;
    border-radius: 24px;
    padding: 5px;

}
#div2{
    margin-top: 0 auto;
    text-align: start;
    background-color: lightblue;
    border-radius: 30px;
    width: 60%;
    height: fit-content;

}
