#image{
    border: none;
    border-radius: 24px;
    margin: auto auto;
}
#trial{
    border: 5px solid lightgoldenrodyellow;
    margin: auto auto;
    padding: 5px;
    border-radius: 24px;
    width: 40%;

}
.input{
    border: none;
}
button{
    background-color: blue;
    color: white;
    width: 40%;
    border-radius: 24px;
    padding: 5px;

}
